#
# APISIX Configuration
#

apisix:
  node_listen: 9080
  enable_ipv6: false
  enable_admin: true
  admin_listen:
    ip: 0.0.0.0
    port: 9180

deployment:
  role: traditional
  role_traditional:
    config_provider: etcd
  admin:
    admin_key:
      - name: admin
        key: edd1c9f034335f136f87ad84b625c8f1
        role: admin
    allow_admin:
      - 0.0.0.0/0
  etcd:
    host:
      - "http://etcd:2379"
    prefix: "/apisix"
    timeout: 30

plugins:
  - real-ip
  - client-control
  - proxy-control
  - request-id
  - cors
  - ip-restriction
  - ua-restriction
  - referer-restriction
  - uri-blocker
  - request-validation
  - openid-connect
  - authz-keycloak
  - basic-auth
  - jwt-auth
  - key-auth
  - consumer-restriction
  - limit-req
  - limit-conn
  - limit-count
  - proxy-cache
  - proxy-rewrite
  - prometheus
  - http-logger
  - syslog
  - response-rewrite

plugin_attr:
  prometheus:
    export_addr:
      ip: 0.0.0.0
      port: 9091
